*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #eefcfa;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
    letter-spacing: -0.2px;
    overflow-x: hidden; 
    box-sizing: border-box;  
}

.header-bar{
   /* position: absolute;*/
    background-color: rgba(255,255,255,0.7);;
    display: block;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-ham{
    display: none;
}


.site-logo span{
    
    font-size: 2.5rem;
    color: #000000;
    padding: 0.5rem;
}

.users-no{
    right: 40px;
    top: 35px;
    color: #000000;
    padding: 10px;
    margin-right: -5px;
}

.register-link{
    cursor: pointer;
    color: cadetblue;
    text-decoration: underline;
}
.slide{
    display: none;
}

.maun-u{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-div{
   margin:40px;
   text-align: center;
}

.form-div{
    margin-left: 35%;
    position: relative;
    min-width: 300px;
    max-width: 20%;
    box-sizing: border-box;
    padding: 20px 30px;
    box-shadow: 4px 3px 13px 0px black;
    height: fit-content;
}

.form-div input{
    width: 100%;
    margin-bottom: 20px;
}

.form-div input[type="text"], input[type="password"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    
    
}
.form-div input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.form-div input[type="submit"]:hover{
    background: #ffc107;
    cursor: pointer;
    
}


.cta{
    font-size: 2rem;
    color: teal;
}

.message{
    padding: 3px;
    align-items: center;
    color: cadetblue; 
}





.footer{
    position: fixed;
    background-color :rgb(133, 131, 131);
    width: 100vw;
    height: 50px;
    bottom: 0px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bar .acc-actions{
    display: inline-block;
}


.view-by select{
    border: none;
    background: transparent;
    height: 30px;
    outline: none;
    font-size: 18px;
}

#view-btn{
    border: none;
    outline: none;
    height: 35px;
    width: 45px;
    background: #73b8ca;
    color: #fff;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
}

.user-info{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    color: #6a7571;
}

.acc-list{
    
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 20px;
    list-style-type: none;
    height:fit-content ;
    right: 2vw;
}


.acc-list a{
    text-decoration: none;
    color: #818181;
    padding: 6px 8px 6px 16px;
    width: 100%;
}
.acc-list a:hover{
    background-color: blanchedalmond;
}


.image-upload{
    position: absolute;
    width: 320px;
    height: 420px;
    top: 20%;
    right: 35%;
    box-sizing: border-box;
    padding: 20px 30px;
    box-shadow: 5px 3px 9px 1px black;
   
}


.image-upload input{
    width: 100%;
    margin-bottom: 90px;

}

.image-upload input[type='text']{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}


.image-upload input[type='submit']{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.image-upload input[type='submit']:hover{
    background: #ffc107;
    cursor: pointer;
}

.main-l{
    z-index: -10;
    margin-bottom: 60px;
}

.main-l-images{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

.image-container{
    position: relative;
    width: 300px;
    max-width: 90%;
    margin: 2px;
}

.image-image{
    width: 100%;
    height:300px;
    object-fit: cover;
}

.image-data{
    position: absolute;
    width: 100%;
    top: 60%;
    height: 40%;
    border-radius: 8px;
    font-size:1rem ;
    color: ghostwhite;
    background-color: #58616a;
    opacity: 0.9;
    margin-top: 1px;
    display: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.image-container:hover .image-data{
    display: flex;
}

.form-div-password  {
    position: absolute;
    width: 320px;
    height: 420px;
    top: 20%;
    left: 30%;
    box-sizing: border-box;
    padding: 20px 30px;
    box-shadow: 5px 3px 9px 1px black;
    height: fit-content;
}

.form-div-password input{
    width: 100%;
    margin-bottom: 30px;
}

.form-div-password input[type="text"], input[type="password"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    
    
}
.form-div-password input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.form-div-password input[type="submit"]:hover{
    background: #ffc107;
    cursor: pointer;
    
}
.form-div-password .message{
    padding: 3px;
    align-items: center;
    color: cadetblue;
}

.no-image-message{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: larger;
    color: cadetblue;
}

.slide{
    position: fixed;
    display: none;
    z-index: 2;
    width: 100vw;
    background-color: black;
    top: 0px;
    height: 100vh;
    color: white;
   
}

.next{
    position: absolute;
    top: 40%;
    font-size: 3rem;
    padding: 10px;
    right: 20px;
    cursor: pointer;
}

.next:hover,.previous:hover{
    background-color: black;
    opacity: 0.7;
    color: #fff;
}



.previous{
    position: absolute;
    top: 40%;
    font-size: 3rem;
    padding: 10px;
    left: 0px;
    cursor: pointer;
    
}


.slide-image{
    
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
    margin: auto;
    
    
}

.close-text{
    position: absolute;
    margin: 30px 30px 0px 0px;
    right: 0px;
    padding: 10px;
    font-size: 3rem;
    cursor: pointer;
    background-color: black;
    opacity: 0.7;
}

.close-text:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 1;
}





@media only screen and (max-width:1076px){
    .acc-list{
        display: none;
        flex-direction: column;
        background-color: #e1e0d6;
        z-index: 10;
        position: fixed;
        top: 50px;
    }
    
    
    .menu-ham{
        display: inline-block;
        right: 1vw;
        height: 50px;
        cursor: pointer;
        position: relative;
        right: 20px;

    }

    .acc-list li{
        /* display: block;*/
        padding: 10px
    }


    .acc-actions:hover .acc-list{
        display: flex !important;
    }
   
}


@media only screen and (max-width:820px){
    .site-logo span {
        font-size: 2.6rem;      
    }
    .menu-ham{
        width: 40px;
        margin-right: -10px;
    }
}



@media only screen and (max-width:530px){
       
    .site-logo span {
        font-size: 2.3rem;      
    }

    .form-div{
        margin-left: 15%;
    }
    .user-info{
       display: none;
    }
    .view-by{
        margin-left: -50px;
    }

    .menu-ham{
        width: 35px;
    }
}

@media only screen and (max-width:430px){
   
    .header-bar{
        height: 50px;
    }
    .site-logo span {
        font-size: 2rem;
    }
    
    
    .form-div{
        margin-left: 5%;
    }
   
}



@media only screen and (max-width:376px){
    .menu-ham{
        width: 30px;
    }

    .view-by select{
        width: 40px;
    }
    #view-btn{
        width: 35px;
        height: 30px;
    }
    .site-logo span {
        font-size:1.5rem;
        
    }
    
    .form-div{
        width: 250px;
    }
    
}

















































































